/* Content Body */
.content {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 100%;
  & > .icon {
    font-size: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
    border: 15px solid;
    aspect-ratio: 1/1;
    border-radius: 50%;
    transition: 0.4s background-color ease, 0.4s box-shadow ease;
    &:hover {
      background-color: red;
      box-shadow: 0 7px 15px 2px red;
    }
  }

  & > .headline {
    display: flex;
    height: 50%;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
  }
}