@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bgc: rebeccapurple;
  --font-color: canvas;
}

body {
  background-color: var(--bgc);
  color: var(--font-color);
  display: flex;
  justify-content: center;
}
