@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bgc: black;
  --font-color: canvas;
  --icofont: "Material Symbols Outlined";
  --default-font: "system-ui";
}

body {
  background-color: var(--bgc);
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  font-family: var(--default-font);
}
/* All icons setting */
.icon {
  font-family: var(--icofont);
}

/* Nav bar settings */
header {
  width: 100%;
}

/* navigation bar settings */
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  & > .nav {
    border: none;
    background-color: transparent;
    color: canvas;
    text-align: center;
    padding: 0.5rem 1rem;
    transition: 0.4s color ease;
    &:hover {
      color: red;
    }
  }
}

/* Content Body */
#content {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 100%;
  & > .icon {
    font-size: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
    border: 15px solid;
    aspect-ratio: 1/1;
    border-radius: 50%;
    transition: 0.4s background-color ease, 0.4s box-shadow ease;
    &:hover {
      background-color: red;
      box-shadow: 0 7px 15px 2px red;
    }
  }

  & > .headline {
    display: flex;
    height: 50%;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
  }
}
